<!DOCTYPE html>
<html ng-app="CalcApp">
  <head>
    <title>Simple Calc&trade;</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body  ng-controller="CalcCtrl">
    <div class="container">
      <h2 class="text-center">Simple Calc&trade;</h2>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 my-calc">
          <div class="row">
            <input type="text" class="form-control display center-block text-right" ng-model="display" readonly>
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="toggleVal(7)">7</button>
            <button class="btn btn-default" ng-click="toggleVal(8)">8</button>
            <button class="btn btn-default" ng-click="toggleVal(9)">9</button>
            <button class="btn btn-primary" ng-click="div()">&divide;</button>
            <button class="btn btn-primary" ng-click="mult()">&times;</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="toggleVal(4)">4</button>
            <button class="btn btn-default" ng-click="toggleVal(5)">5</button>
            <button class="btn btn-default" ng-click="toggleVal(6)">6</button>
            <button class="btn btn-primary" ng-click="add()">&plus;</button>
            <button class="btn btn-primary" ng-click="sub()">&minus;</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default" ng-click="toggleVal(1)">1</button>
            <button class="btn btn-default" ng-click="toggleVal(2)">2</button>
            <button class="btn btn-default" ng-click="toggleVal(3)">3</button>
            <button class="btn btn-success" ng-click="">&equals;</button>
            <button class="btn btn-danger" ng-click="delete()">c</button>
          </div>
          <div class="row text-center">
            <button class="btn btn-default"></button>
            <button class="btn btn-default" ng-click="toggleVal(0)">0</button>
            <button class="btn btn-default"></button>
            <button class="btn btn-default"></button>
            <button class="btn btn-default"></button>
          </div>
        </div>
      </div>
  </body>
</html>
